Repository charlesrocket/essential-collection, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, plugin, role, test

.github/labeler.yml:

---

ci:
  - '.github/workflows/*'

documentation:
  - 'docs/**/*'

plugin:
  - 'plugins/**/*'

role:
  - 'roles/**/*'

test:
  - 'molecule/**/*'
  - 'tests/**/*'

chore: use `molecule-plugins`
  requirements-dev.txt
Labels: none

chore: add ansible config
  ansible.cfg
Labels: none

test: downgrade molecule
  requirements-dev.txt
Labels: none

fix: use `ansible_user` variable
  roles/git/handlers/main.yml
Labels: role

chore: version bump
  galaxy.yml
Labels: none

chore(release): prepare for 1.2.3
  CHANGELOG.md
Labels: none

docs: update `remote_vars` description
  plugins/modules/remote_vars.py
Labels: plugin

chore: version bump
  galaxy.yml
Labels: none

chore: use role prefix
  molecule/default/roles/test_dotfiles/tasks/main.yml
  molecule/linux/roles/test_dotfiles/tasks/main.yml
  roles/dotfiles/tasks/main.yml
Labels: role, test

chore(git): update system variable
  roles/git/tasks/main.yml
Labels: role

chore(release): prepare for 1.2.4
  CHANGELOG.md
Labels: none

ci: fix `lint`
  .github/workflows/ci.yml
Labels: ci

docs: fix galaxy badge
  README.md
Labels: none

docs: fix galaxy badge link
  README.md
Labels: none

docs: add `remote_vars`
  README.md
Labels: none

chore: update dev dependencies
  requirements-dev.txt
Labels: none

ci: update `checkout`
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci

ci: disable fail-fast
  .github/workflows/ci.yml
Labels: ci

test: set python interpreter
  molecule/default/converge.yml
  molecule/default/molecule.yml
Labels: test

chore: version bump (1.2.5)
  galaxy.yml
Labels: none

docs(dotfiles): fix host key description
  roles/dotfiles/meta/argument_specs.yml
Labels: role

chore(release): prepare for 1.2.5
  CHANGELOG.md
Labels: none

chore: version bump
  galaxy.yml
Labels: none

feat: add `fetch_vars` role
  molecule/default/converge.yml
  molecule/default/roles/test_fetch_vars/tasks/main.yml
  molecule/default/verify.yml
  molecule/linux/converge.yml
  molecule/linux/roles/test_fetch_vars/tasks/main.yml
  molecule/linux/verify.yml
  roles/fetch_vars/README.md
  roles/fetch_vars/meta/argument_specs.yml
  roles/fetch_vars/meta/main.yml
  roles/fetch_vars/tasks/main.yml
Labels: role, test

feat: deprecate `remote_vars`
  meta/runtime.yml
  plugins/modules/remote_vars.py
Labels: plugin

fix: update plugin deprecation
  meta/runtime.yml
  plugins/modules/remote_vars.py
Labels: plugin

docs: fix deprecation message
  meta/runtime.yml
  plugins/modules/remote_vars.py
Labels: plugin

feat: add `fetch_vars` role
  molecule/default/converge.yml
  molecule/default/roles/test_fetch_vars/tasks/main.yml
  molecule/default/verify.yml
  molecule/linux/converge.yml
  molecule/linux/roles/test_fetch_vars/tasks/main.yml
  molecule/linux/verify.yml
  roles/fetch_vars/README.md
  roles/fetch_vars/meta/argument_specs.yml
  roles/fetch_vars/meta/main.yml
  roles/fetch_vars/tasks/main.yml
Labels: role, test

docs: fix description
  README.md
Labels: none

chore(release): prepare for 1.3.0
  CHANGELOG.md
Labels: none

fix: deprecate `remote_vars` module
  meta/runtime.yml
  plugins/modules/remote_vars.py
Labels: plugin

docs: add `fetch_vars` description
  README.md
Labels: none

chore(release): prepare for 1.3.1
  CHANGELOG.md
  galaxy.yml
Labels: none

ci: move `docsite`
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: ci

chore: update `antsibull-docs`
  docs/requirements.txt
Labels: documentation

ci: fix `cd` syntax
  .github/workflows/cd.yml
Labels: ci

ci: rename `docs`
  .github/workflows/docsite.yml
Labels: ci

ci: fix `docsite`
  .github/workflows/ci.yml
Labels: ci

chore: fix linter
  .github/workflows/docsite.yml
Labels: ci

docs: fix alternative link
  plugins/modules/remote_vars.py
Labels: plugin
