Repository charlesrocket/essential-collection, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, plugin, role, test

.github/labeler.yml:

---

ci:
  - '.github/workflows/*'

documentation:
  - 'docs/**/*'

plugin:
  - 'plugins/**/*'

role:
  - 'roles/**/*'

test:
  - 'molecule/**/*'
  - 'tests/**/*'

docs: change to code attribute
  plugins/modules/remote_vars.py
Labels: plugin

docs(remote_vars): update short description
  plugins/modules/remote_vars.py
Labels: plugin

docs(fetch_vars): link alternative
  plugins/modules/remote_vars.py
Labels: plugin

chore: version bump (1.3.2)
  galaxy.yml
Labels: none

fix: ignore `tempfile` changes
  roles/fetch_vars/tasks/main.yml
Labels: role

chore(release): prepare for 1.3.2
  CHANGELOG.md
Labels: none

ci: use `ansible-lint`
  .github/workflows/ci.yml
Labels: ci

chore: bump ansible version
  meta/runtime.yml
Labels: none

chore: bump ansible to 2.15.0
  meta/runtime.yml
Labels: none

fix(git): rename internal variables
  roles/git/tasks/FreeBSD.yml
  roles/git/tasks/Linux.yml
  roles/git/tasks/NetBSD.yml
  roles/git/tasks/OpenBSD.yml
  roles/git/vars/Alpine.yml
  roles/git/vars/Archlinux.yml
  roles/git/vars/Debian.yml
  roles/git/vars/FreeBSD.yml
  roles/git/vars/NetBSD.yml
  roles/git/vars/OpenBSD.yml
  roles/git/vars/RedHat.yml
  roles/git/vars/Suse.yml
Labels: role

chore: switch ansible to 2.14.0
  meta/runtime.yml
Labels: none

chore: version bump (1.3.3)
  galaxy.yml
Labels: none

chore(release): prepare for 1.3.3
  CHANGELOG.md
Labels: none

chore: update LICENSE
  LICENSE
Labels: none

chore: ignore archives
  .gitignore
Labels: none

fix(fetch_vars): fix dry run
  roles/fetch_vars/tasks/main.yml
Labels: role

fix(fetch_vars): rename register
  roles/fetch_vars/tasks/main.yml
Labels: role

ops: drop `vagrant`
  .github/workflows/ci.yml
Labels: ci

ops: fix `release`
  .github/workflows/ci.yml
Labels: ci

ops: fix `docsite`
  .github/workflows/ci.yml
Labels: ci

chore(release): prepare for 1.4.1
  CHANGELOG.md
  galaxy.yml
Labels: none

fix(git): fix helper conditional
  roles/git/tasks/Linux.yml
Labels: role

ops: set permissions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci

chore(release): prepare for 1.4.2
  CHANGELOG.md
  galaxy.yml
Labels: none

feat(dotfiles): add `dfs` support
  roles/dotfiles/defaults/main.yml
  roles/dotfiles/meta/argument_specs.yml
  roles/dotfiles/meta/main.yml
  roles/dotfiles/tasks/main.yml
Labels: role

ops: bump `ansible` to 13.0.0a1
  requirements-dev.txt
Labels: none

test(dotfiles): update bsd/linux case
  molecule/default/converge.yml
  molecule/default/roles/test_dotfiles/tasks/main.yml
  molecule/linux/converge.yml
  molecule/linux/roles/test_dotfiles/tasks/main.yml
Labels: test

build: bump version to 1.5.0
  galaxy.yml
Labels: none

chore(meta): update tags
  galaxy.yml
Labels: none

chore(release): prepare for 1.5.0
  CHANGELOG.md
Labels: none
